@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Country_Name</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@*<h2> Pow </h2>

<div class="form-group">
    <label>Num 1</label>
    <div class="col-md-10">
        <input type="number" placeholder="Enter number 1"/>
    </div>
</div>
<div class="form-group">
    <label>Num 2</label>
    <div class="col-md-10">
        <input type="number" placeholder="Enter number 2"/>
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <input type="submit"/>
    </div>
</div>
<div>
    <output>@ViewBag.Result</output>
</div>*@

